@font-face {
    font-family: "Balsamiq Sans";
    src: url("font/BalsamiqSans-Regular.ttf");
}

body {
    font-family: 'Balsamiq Sans', cursive;
}

.icon-bar {
    border: 1px solid #61122f;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    padding: 10% 0;
}

article {
    background-color: gray;
    border: none;
}

.menuitem>p {
    margin-bottom: -1px;
    background-color: gray;
    border: none;
}