@font-face {
    font-family: "Balsamiq Sans";
    src: url("font/BalsamiqSans-Regular.ttf");
}

body {
    font-family: 'Balsamiq Sans', cursive;
    color: black;
}

#header-nav {
    border: 0;
    border-radius: 0;
    background-color: gray;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid black;
}

button.navbar-toggle.collapse {
    border: 1px solid whitesmoke;
}

.container {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

.navbar-header {
    width: 100%;
    background-color: gray;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}

#company-name {
    color: black;
    margin-left: 0%;
    font-size: 2em;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    float: left;
}

.navbar-collapse {
    padding-right: 0%;
    padding-left: 0%;
}

ul {
    margin-bottom: 0%;
}

article {
    background-color: gray;
    border: none;
}

.menuitem {
    margin: 1em 0.5em;
}

.smartphone-view-list {
    padding: 0%;
    width: 100%;
}

.smartphone-view-list>li {
    list-style-type: none;
    text-align: center;
    width: 100%;
    border-bottom: black solid 1px;
    background-color: white;
}

.smartphone-view-list>li>a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.menuitem>p {
    margin-bottom: -1px;
    background-color: gray;
    border: none;
}

@media (max-width: 767px) {
    .menuitem {
        margin: 1em 3em;
    }
}